body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbeed3;
    box-shadow: 8px 5px 5px #dfcdb4;
    height: 80px;
    
}

header .logo img {
    width: 120px;
    padding: 5px;
    margin-left: 30px;
}


header .logout{
    margin-right: 40px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

header .logout span{
    font-size: 10px;
}

.containner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.menu{
    background-color:#6b5d4d;
    padding-right: 50px;
    padding-left: 5px;
    font-size: 12px;
    height: 100vh;

}


nav ul li,
nav ul li {
    
    list-style: none;
    text-transform: uppercase;
    padding: 5px;
   
}

.menu nav a{
    text-decoration: none;
    color: #F7FBFF;
}
.menu nav a:hover{
    border-bottom: 1px solid #429398;
}


.card {
    display: flex;
    justify-content: center;
   /* background-color:#429398;*/
    height: 100px;
    margin: 5px;
    padding: 0px;
    font-size: 16px;
}

.sub-card-trocas, .sub-card-vencer,.sub-card-vencido{
    height: 80%;
    margin-left: 30px;
    margin-top: 5px;
    padding: 4px;
    width:248px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px 10px;
   
}
.containner-cards{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
   
    
 }

.subCard-icone,.subCard-texto{
    padding: 10px;
    color: #fff;
}

 .sub-card-trocas{
    background-color:#32CD32;
}
.sub-card-vencer{
    background-color:#FFD700;
}
.sub-card-vencido{
    background-color: red;
} 



/* Responsividade */
@media (max-width:800px){

  
    .containner-cards{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height: 100vw;
       width: 100vw;
      
       
       
    }

    .sub-card-trocas, .sub-card-vencer,.sub-card-vencido{
        height: 100%;
        padding: 4px;
        width:500px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px 10px;
        
       
       
    }

    .card {
        display: flex;
        justify-content: center;
       /* background-color:#429398;*/
        height: 100px;
        margin: 30px;
        padding: 5px;
        border-radius: 10px 5px
    }

    .subCard-icone,.subCard-texto{
        padding: 10px;
        color: #000;
        font-size: 22px;
        font-weight: 600;
    }

    .menu {
        display: none;
    }

   
}